       * {
            margin: 0;
            padding: 0px;
        }

        body {
            background-color: rgb(19, 19, 63);
            color: white;
        }
        .right{
            font-size: 1.5rem;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 60px;
            background-color: rgb(7, 7, 43);
        }

        nav ul {
            display: flex;
            justify-content: center;
            margin-left: 700px;
        }

        nav ul li {
            list-style: none;
            margin:10px;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
        }

        nav ul li a:hover {
            color: rgb(172, 172, 212);
            font-size: 1.4rem;

        }

        .left {
            font-size: 1.5rem;
        }

        .firstsection {
            display: flex;
            justify-content: space-around;
            /* margin: 130px 0px; */
            align-items: center;
        }

        .firstsection>div {
            width: 40%;
        }

        .leftsection {
            font-size: 3rem;
            margin: 100PX;
        }

        .rightsection img {
            width: 103%;
            /* margin: 20px ; */
        }

        .purple {
            color: rgb(125, 13, 231);
        }
        .btn{
            padding: 5px;
            background: rgb(87, 82, 82);
            color: white;
            border: 2px solid white;
            font-size: 20px;
            cursor: pointer;
            margin: 40px;
        }
        .btn:hover{
            font-size:1.2rem ;
        }
    